WCF/Client-NoSecurity/Service References/NoSecurityReference/AdminConfig.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdminConfig" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NoSecurity_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdminConfig_getServerTime_InputMessage">
    <wsdl:part name="parameters" element="tns:getServerTime" />
  </wsdl:message>
  <wsdl:message name="IAdminConfig_getServerTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:getServerTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminConfig_getAdminToken_InputMessage">
    <wsdl:part name="parameters" element="tns:getAdminToken" />
  </wsdl:message>
  <wsdl:message name="IAdminConfig_getAdminToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAdminTokenResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdminConfig">
    <wsdl:operation name="getServerTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminConfig/getServerTime" message="tns:IAdminConfig_getServerTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminConfig/getServerTimeResponse" message="tns:IAdminConfig_getServerTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAdminToken">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminConfig/getAdminToken" message="tns:IAdminConfig_getAdminToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminConfig/getAdminTokenResponse" message="tns:IAdminConfig_getAdminToken_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NoSecurity" type="tns:IAdminConfig">
    <wsp:PolicyReference URI="#NoSecurity_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getServerTime">
      <soap:operation soapAction="http://tempuri.org/IAdminConfig/getServerTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAdminToken">
      <soap:operation soapAction="http://tempuri.org/IAdminConfig/getAdminToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NoSecurity1" type="tns:IAdminConfig">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getServerTime">
      <soap:operation soapAction="http://tempuri.org/IAdminConfig/getServerTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAdminToken">
      <soap:operation soapAction="http://tempuri.org/IAdminConfig/getAdminToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminConfig">
    <wsdl:port name="NoSecurity" binding="tns:NoSecurity">
      <soap:address location="http://localhost:8081/wcf-1" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8081/wcf-1</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NoSecurity1" binding="tns:NoSecurity1">
      <soap:address location="http://localhost:8081/wcf-1-noaddressing" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>