Metro/Metro-TS/etc/metro-ts.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- 
  Copyright 2016 Karsten Meyer zu Selhausen
  
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
      http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://metro1.kmzs.ba/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://metro1.kmzs.ba/" name="AdminConfigImplService">
	<wsp:Policy xmlns:wsapw3c="http://www.w3.org/2006/05/addressing/wsdl" wsu:Id="AdminConfigImplPortBinding_Wsaw_Addressing_Policy-AdminConfigImplPortBinding_WSAM_Addressing_Policy-AdminConfigImplPortBinding_WSAM_Addressing_Policy">
		<wsapw3c:UsingAddressing wsp:Optional="true"/>
		<wsam:Addressing wsp:Optional="true">
			<wsp:Policy/>
		</wsam:Addressing>
	</wsp:Policy>
	<types>
		<xs:schema version="1.0" targetNamespace="http://metro1.kmzs.ba/" xmlns:tns="http://metro1.kmzs.ba/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="getAdminToken" type="tns:getAdminToken"/>
			<xs:element name="getAdminTokenResponse" type="tns:getAdminTokenResponse"/>
			<xs:element name="getServerTime" type="tns:getServerTime"/>
			<xs:element name="getServerTimeResponse" type="tns:getServerTimeResponse"/>
			<xs:complexType name="getServerTime">
				<xs:sequence/>
			</xs:complexType>
			<xs:complexType name="getServerTimeResponse">
				<xs:sequence>
					<xs:element name="return" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getAdminToken">
				<xs:sequence/>
			</xs:complexType>
			<xs:complexType name="getAdminTokenResponse">
				<xs:sequence>
					<xs:element name="return" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</types>
	<message name="getAdminToken">
		<part name="parameters" element="tns:getAdminToken"/>
	</message>
	<message name="getAdminTokenResponse">
		<part name="parameters" element="tns:getAdminTokenResponse"/>
	</message>
	<message name="getServerTime">
		<part name="parameters" element="tns:getServerTime"/>
	</message>
	<message name="getServerTimeResponse">
		<part name="parameters" element="tns:getServerTimeResponse"/>
	</message>
	<portType name="AdminConfig">
		<operation name="getAdminToken">
			<input wsam:Action="http://metro1.kmzs.ba/AdminConfig/getAdminTokenRequest" message="tns:getAdminToken"/>
			<output wsam:Action="http://metro1.kmzs.ba/AdminConfig/getAdminTokenResponse" message="tns:getAdminTokenResponse"/>
		</operation>
		<operation name="getServerTime">
			<input wsam:Action="http://metro1.kmzs.ba/AdminConfig/getServerTimeRequest" message="tns:getServerTime"/>
			<output wsam:Action="http://metro1.kmzs.ba/AdminConfig/getServerTimeResponse" message="tns:getServerTimeResponse"/>
		</operation>
	</portType>
	<binding name="AdminConfigImplPortBinding" type="tns:AdminConfig">
		<wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#TS"/>
		<wsaw:UsingAddressing/>
		<wsp:PolicyReference URI="#AdminConfigImplPortBinding_Wsaw_Addressing_Policy-AdminConfigImplPortBinding_WSAM_Addressing_Policy-AdminConfigImplPortBinding_WSAM_Addressing_Policy"/>		
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<operation name="getAdminToken">
			<soap:operation soapAction="getAdminToken"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getServerTime">
			<soap:operation soapAction="getServerTime"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="AdminConfigImplService">
		<port name="AdminConfigImplPort" binding="tns:AdminConfigImplPortBinding">
			<soap:address location="http://localhost:8080/metro-ts/"/>
		</port>
	</service>

	<!-- Timestamps for all messages, but no Signature -->
	<wsp2:Policy wsu:Id="TS" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp2="http://schemas.xmlsoap.org/ws/2004/09/policy">
		<wsp2:ExactlyOne>
			<wsp2:All>
				<sp:AsymmetricBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
					<wsp2:Policy>
						<sp:Layout>
							<wsp2:Policy>
								<sp:Strict/>
							</wsp2:Policy>
						</sp:Layout>
						<sp:IncludeTimestamp/>
					</wsp2:Policy>
				</sp:AsymmetricBinding>			
			</wsp2:All>
		</wsp2:ExactlyOne>
	</wsp2:Policy>
</definitions>